html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: var(--first-bgc);
}

.section {
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
    text-align: center;
  }
}

.section--nopadingtop {
  padding-top: 0px;
}

.section--anotherbg {
  background-color: var(--second-bgc);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

:root {
  --first-header-color: #212121;
  --second-header-color: #757575;
  --title-color: #212121;
  --text-color: #757575;
  --hero-title-color: #FFFFFF;
  --btn-color: #2196F3;
  --btn-text-color: #ffffff;
  --btn-secondary-color: #212121;
  --accent-color: #2196F3;
  --btn-hover: #188CE8;
  --first-bgc: #ffffff;
  --second-bgc: #F5F4FA;
  --hero-bgc: #2F303A;
  --footer-bgc: #2F303A;
  --addres-color: rgba(255, 255, 255, 0.6);
  --svg-color: #AFB1B8;
  --modal-placeholder: #212121;
  --accent-color-hover: #188CE8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;
  margin-right: auto;
  padding: 16px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 95px;
    font-size: 26px;
    line-height: 1.19;
    padding: 24px 0;
  }
}
.logo__accent {
  color: #2196f3;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .social {
    width: 100%;
    margin: 0 auto;
  }
}

.social__link {
  color: var(--svg-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link .social__icon--white {
  fill: var(--first-bgc);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link--anotherbg {
  color: var(--btn-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--btn-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.85);
  -webkit-transition: opacity 750ms, visibility 1300ms;
  transition: opacity 750ms, visibility 1300ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-500%) scale(2.9);
          transform: translateX(-500%) scale(2.9);
}

.modal {
  position: absolute;
  width: calc(100% - 15px);
  max-height: calc(100% - 15px);
  max-width: 450px;
  overflow-y: scroll;
  border-radius: 4px;
  background-color: var(--first-bgc);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  z-index: 5;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-secondary-color);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field.check {
  margin-top: 20px;
  margin-bottom: 0;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 11px 12px 40px;
}

.modal-input-name {
  display: block;
  color: var(--text-color);
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
}

.modal-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
}

.modal-input:hover,
.modal-input:focus,
.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
}

.icon-name {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-input:hover + .icon-name,
.modal-input:focus + .icon-name {
  fill: var(--accent-color);
}

.privacy-check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .privacy-check-label {
    margin-left: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
}

.privacy-check-label::before {
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  margin-right: 7px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .privacy-check-label::before {
  background-color: var(--accent-color);
  border: none;
}

.privacy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .privacy-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: var(--accent-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.privacy-link:hover,
.privacy-link:focus {
  color: var(--accent-color-hover);
}

/* .modal-agreement {
    color: var(--accent-color);
} */
.button-submit-privacy {
  display: block;
  border: 0px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  margin: auto;
  margin-top: 30px;
}

.button-submit-privacy:hover,
.button-submit-privacy:focus {
  cursor: pointer;
  background-color: var(--btn-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.coment {
  margin-bottom: 5px;
}

.modal-input::-webkit-input-placeholder {
  color: var(--modal-placeholder);
}

.modal-input::-moz-placeholder {
  color: var(--modal-placeholder);
}

.modal-input:-ms-input-placeholder {
  color: var(--modal-placeholder);
}

.modal-input::-ms-input-placeholder {
  color: var(--modal-placeholder);
}

.modal-input::placeholder {
  color: var(--modal-placeholder);
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

textarea {
  resize: none;
}

.overlay-wrap {
  position: relative;
  overflow: hidden;
}
.overlay-wrap__text {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--btn-text-color);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  Font-style: Regular;
  font-size: 18px;
  Line-height: 1.55;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.choise-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.choise-list .item:not(:last-child) {
  margin-right: 8px;
}

.choise-list__btntext {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  background-color: var(--second-bgc);
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.choise-list__btntext:hover, .choise-list__btntext:focus {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn {
  display: inline-block;
  border: 0px;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--btn-color);
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.85);
  -webkit-transition: opacity 750ms, visibility 1300ms;
  transition: opacity 750ms, visibility 1300ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-500%) scale(2.9);
          transform: translateX(-500%) scale(2.9);
}

.modal {
  position: absolute;
  width: calc(100% - 15px);
  max-height: calc(100% - 15px);
  max-width: 450px;
  overflow-y: scroll;
  border-radius: 4px;
  background-color: var(--first-bgc);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 700ms;
  transition: -webkit-transform 700ms;
  transition: transform 700ms;
  transition: transform 700ms, -webkit-transform 700ms;
  z-index: 5;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-secondary-color);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field.check {
  margin-top: 20px;
  margin-bottom: 0;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 11px 12px 40px;
}

.modal-input-name {
  display: block;
  color: var(--text-color);
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
}

.modal-comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
}

.modal-input:hover,
.modal-input:focus,
.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
}

.icon-name {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-input:hover + .icon-name,
.modal-input:focus + .icon-name {
  fill: var(--accent-color);
}

.privacy-check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .privacy-check-label {
    margin-left: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
}

.privacy-check-label::before {
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  margin-right: 7px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .privacy-check-label::before {
  background-color: var(--accent-color);
  border: none;
}

.privacy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .privacy-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: var(--accent-color);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.privacy-link:hover,
.privacy-link:focus {
  color: var(--accent-color-hover);
}

/* .modal-agreement {
    color: var(--accent-color);
} */
.button-submit-privacy {
  display: block;
  border: 0px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  margin: auto;
  margin-top: 30px;
}

.button-submit-privacy:hover,
.button-submit-privacy:focus {
  cursor: pointer;
  background-color: var(--btn-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.coment {
  margin-bottom: 5px;
}

.modal-input::-webkit-input-placeholder {
  color: var(--modal-placeholder);
}

.modal-input::-moz-placeholder {
  color: var(--modal-placeholder);
}

.modal-input:-ms-input-placeholder {
  color: var(--modal-placeholder);
}

.modal-input::-ms-input-placeholder {
  color: var(--modal-placeholder);
}

.modal-input::placeholder {
  color: var(--modal-placeholder);
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

textarea {
  resize: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .about {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 480px) {
  .about {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .about .about__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about .about__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about__text {
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .about__text {
    text-align: left;
  }
}

.about__wrap {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--second-bgc);
  text-align: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .about__wrap {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .about__wrap {
    text-align: center;
  }
}

.about__wrap .about__icon {
  width: 70px;
  height: 70px;
}

.about__title {
  text-align: center;
  padding-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
  }
}

.about__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .client {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: start;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: start;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    text-align: center;
    background-color: var(--first-bgc);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

.client__item {
  width: 170px;
  height: 92px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .client__item {
    width: auto;
    margin: 15px;
  }
}
@media screen and (min-width: 480px) {
  .client__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.comand {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .comand {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .comand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: start;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .comand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    margin-bottom: -15px;
  }
}
.comand .comand__card {
  padding: 30px 0;
  text-align: center;
}
.comand .comand__item {
  background: var(--first-bgc);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .comand .comand__item {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .comand .comand__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .comand .comand__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}
.comand .comand__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.comand .comand__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .comand__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.page-footer {
  background-color: #2f303a;
  padding: 60px 0 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 767px) {
  .page-footer__wrapper {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__wrapper {
    margin-bottom: 0;
  }
}
.address-box {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .address-box {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-box {
    margin-right: 70px;
  }
}
.logo--inverse {
  padding: 0;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .logo--inverse {
    font-size: 26px;
    line-height: 1.19;
  }
}
.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address-list__link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover,
.address-list__link:focus {
  color: #2196f3;
}

.address-list__link--white {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .join-box {
    margin-bottom: 0;
  }
}
.join-box__text {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.social-list__link--inverse {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
  .subscribe-box {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.subscribe-box__text {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-box__text {
    text-align: start;
  }
}
.subscribe-form {
  border-radius: 4px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.subscribe-form__input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: inherit;
}

.subscribe-form__input:focus {
  outline: 1px solid #fff;
}

.subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}
.button--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--btn-text-color);
  fill: #fff;
}

.button__icon {
  margin-left: 10px;
}

.page-header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header__container {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 15px;
  z-index: 2;
  margin-left: auto;
  padding: 10px 0;
  border: none;
  background-color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: currentColor;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-cross {
  display: none;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: currentColor;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-container {
  display: none;
  z-index: 1;
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 48px 40px;
    overflow: scroll;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}
.site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: inherit;
    padding: 32px 0;
  }
}
.site-nav__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current {
    position: relative;
  }

  .site-nav__link--current:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.contacts__item:first-child {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__item:first-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item:last-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:last-child {
    margin-bottom: 0;
    margin-right: 50px;
  }
}
.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts__link:hover,
.contacts__link:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: inherit;
    padding: 32px 0;
    font-size: inherit;
  }
}
@media screen and (max-width: 767px) {
  .contacts__link--accent {
    font-size: 34px;
    color: #2196f3;
  }
}
.contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 8px;
    fill: currentColor;
  }

  .contacts__icon--thin {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__icon--thin {
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__icon--wide {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__icon--wide {
    width: 16px;
    height: 12px;
  }
}
.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 439px) {
  .menu-social {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  .menu-social {
    display: none;
  }
}
.menu-social__item {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__item:first-child {
  padding-left: 0;
}

.menu-social__item:last-child {
  padding-right: 0;
  border: none;
}

@media screen and (max-width: 439px) {
  .menu-social__item {
    padding: 0;
    border: none;
  }
}
.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  background-color: var(--hero-bgc);
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }
}
@media screen and (min-width: 320px) {
  .hero {
    padding: 118px 0;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 0;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
    padding: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    max-width: 1600px;
    padding: 200px 0;
  }
}
.hero .hero__container {
  text-align: center;
}
.hero .hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero .hero__title {
    max-width: 696px;
    font-weight: 900;
    text-align: center;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.hero .hero__btn {
  cursor: pointer;
  text-align: center;
  color: var(--btn-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.choise-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .choise-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .choise-list {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .choise-list__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.choise-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.card-list__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .card-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.card-list__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-list__item:hover .card-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-list__item:not(:last-child) {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item:not(:last-child) {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .card-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.card-list__thumb {
  position: relative;
  overflow: hidden;
}

.card-list__img {
  display: block;
  max-width: 100%;
}

.card-list__overlay {
  position: absolute;
  top: 1px;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .card-list__overlay {
    padding: 49px 24px;
    overflow: auto;
  }
}
@media screen and (min-width: 1200px) {
  .card-list__overlay {
    padding: 62px 24px;
  }
}
.card-prodlist {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 24px;
  text-align: start;
  letter-spacing: 0.06em;
}
.card-prodlist .card-prodlist__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.card-prodlist .card-prodlist__text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .section--nopadingtop {
    display: none;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work__overflow {
  position: relative;
}

.work__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: white;
  background: rgba(47, 48, 58, 0.8);
}

.work .work__item:not(:last-child) {
  margin-right: 30px;
}/*# sourceMappingURL=main.css.map */