.about {
    @media screen and (min-width:320px) and (max-width:479px) {
        width: auto;
        margin: 0 auto;
        padding: 60px 10px;

        .about__wrap {
            padding: 25px 0;
            width: 100%;
            justify-content: center;
        }

        .about__text {
            text-align: left;
        }

    }

    @media screen and (min-width:480px) {
        width: 480px;
        padding: 60px 15px;
        margin: 0 auto;


        .about__wrap {
            justify-content: center;
            padding: 25px;
            width: 100%;
        }

        .about__text {
            text-align-last: left;
            width: 100%;

        }

    }
}

.about__wrap {
    // display: flex;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.about__wrap .about__icon {
    width: 70px;
    height: 70px;
}

.about__title {
    padding-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;

}

.about__text {
    // max-width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);

}


.about .about__item:not(:last-child) {
    margin-bottom: 30px;
}