.about {
    @media screen and (min-width:480px) {
        display: block;
        justify-content: center;

        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .about__item {
        @media screen and (min-width: 480px) {
            width: 480px;
        }

        @media screen and (min-width: 768px) {
            flex-basis: 50%;
        }

        @media screen and (min-width: 1200px) {
            flex-basis: 25%;
        }
    }


    .about__wrap {
        display: flex;
        width: 270px;
        height: 120px;
        background-color: #f5f4fa;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }

    .about__wrap .about__icon {
        width: 70px;
        height: 70px;
    }

    .about__title {
        padding-top: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-color);
        margin-bottom: 10px;

    }

    .about__text {
        max-width: 270px;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--text-color);

    }



    .about .about__item:not(:last-child) {
        margin-right: 30px;
    }
}