.about {
    @media screen and (min-width:320px) and (max-width:479px) {
        width: auto;
        margin: 0 auto;
        padding: 60px 10px;
    }

    @media screen and (min-width:480px) {
        padding: 60px 15px;
        margin: 0 auto;
    }

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        padding: 60px 15px;
        text-align: start;
        margin-bottom: -15px;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: nowrap;
        padding: 94px 15px;
        text-align: start;
        margin-bottom: -15px;
    }
}

.about .about__item {
    @media screen and (min-width:768px) {
        margin: 15px;
        flex-basis: calc((100% - 4 * 15px) / 2);

    }

}

.about .about__item:not(:last-child) {
    margin-bottom: 30px;


}


.about__text {
    text-align-last: left;
    width: 100%;

    @media screen and (min-width:320px) and (max-width:479px) {
        text-align: left;
    }
}




.about__wrap {
    background-color: var(--second-bgc);
    padding: 25px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;


    @media screen and (min-width:480px) {
        // width: 100%;

    }

    @media screen and (min-width:768px) {
        // width: 100%;
        text-align: center;

    }
}

.about__wrap .about__icon {
    width: 70px;
    height: 70px;
}

.about__title {
    padding-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;

}

.about__text {
    // max-width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);

}