.page-footer {
    background-color: #2f303a;
    padding: 60px 0 60px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .page-footer {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .page-footer__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: baseline;
    }
}

@media screen and (min-width: 768px) {
    .page-footer__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .page-footer__wrapper {
        margin-bottom: 0;
    }
}

.address-box {
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .address-box {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .address-box {
        margin-right: 70px;
    }
}

.logo--inverse {
    padding: 0;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
    color: #fff;
}

@media screen and (min-width: 1200px) {
    .logo--inverse {
        font-size: 26px;
        line-height: 1.19;
    }
}

.address-list__item:not(:last-child) {
    margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
    .address-list__item:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address-list__link {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover,
.address-list__link:focus {
    color: #2196f3;
}

.address-list__link--white {
    color: #fff;
}

.join-box {
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .join-box {
        margin-bottom: 0;
    }
}

.join-box__text {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.social-list__link--inverse {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1200px) {
    .subscribe-box {
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .subscribe-row {
        display: flex;
    }
}

.subscribe-box__text {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .subscribe-box__text {
        text-align: start;
    }
}

.subscribe-form {
    border-radius: 4px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    .subscribe-form {
        margin-bottom: 0;
        margin-right: 12px;
    }
}

.subscribe-form__input {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    background-color: inherit;
}

.subscribe-form__input:focus {
    outline: 1px solid #fff;
}

.subscribe-form__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}


.subscribe-form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
    .subscribe-form__input {
        width: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .subscribe-form__input {
        width: 358px;
    }
}

.button--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--btn-text-color);
    fill: #fff;
}

.button__icon {
    margin-left: 10px;
}