.page-header {
    background-color: #fff;
    border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
    .page-header__container {
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    .page-header__container {
        display: flex;
        align-items: center;
    }
}

.menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    right: 15px;
    z-index: 2;
    margin-left: auto;
    padding: 10px 0;
    border: none;
    background-color: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover,
.menu-button:focus {
    color: #2196f3;
}

@media screen and (min-width: 768px) {
    .menu-button {
        display: none;
    }
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
    fill: currentColor;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.icon-cross {
    display: none;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
    fill: currentColor;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-container {
    display: none;
    z-index: 1;
}

.menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
}

@media screen and (max-width: 767px) {
    .menu-container.is-open {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 48px 40px;
        overflow: scroll;
    }
}

@media screen and (min-width: 768px) {
    .menu-container {
        display: flex;
        flex-basis: 100%
    }
}

@media screen and (max-width: 767px) {
    .site-nav {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}

@media screen and (min-width: 768px) {
    .site-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .site-nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 767px) {
    .site-nav__item:not(:last-child) {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 768px) {
    .site-nav__item:not(:last-child) {
        margin-right: 50px;
    }
}

.site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: #2196f3;
}

@media screen and (min-width: 768px) {
    .site-nav__link {
        font-size: inherit;
        line-height: inherit;
        padding: 32px 0;
    }
}

.site-nav__link--current {
    color: #2196f3;
}

@media screen and (min-width: 768px) {
    .site-nav__link--current {
        position: relative;
    }

    .site-nav__link--current:after {
        position: absolute;
        bottom: -1px;
        left: 0;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196f3;
    }
}

@media screen and (max-width: 767px) {
    .contacts {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 768px) {
    .contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin-left: auto;
    }
}

@media screen and (min-width: 1200px) {
    .contacts {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}

.contacts__item:first-child {
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .contacts__item:first-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .contacts__item:last-child {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .contacts__item:last-child {
        margin-bottom: 0;
        margin-right: 50px;
    }
}

.contacts__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
}

@media screen and (min-width: 768px) {
    .contacts__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 12px;
        -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts__link:hover,
    .contacts__link:focus {
        color: #2196f3;
    }
}

@media screen and (min-width: 1200px) {
    .contacts__link {
        padding: 32px 0;
        font-size: inherit;
    }
}

@media screen and (max-width: 767px) {
    .contacts__link--accent {
        font-size: 34px;
        color: #2196f3;
    }
}

.contacts__icon {
    display: none;
}

@media screen and (min-width: 768px) {
    .contacts__icon {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 8px;
        fill: currentColor;
    }

    .contacts__icon--thin {
        width: 10px;
        height: 14px;
    }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
    .contacts__icon--thin {
        width: 10px;
        height: 16px;
    }
}

@media screen and (min-width: 768px) {
    .contacts__icon--wide {
        width: 14px;
        height: 10px;
    }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
    .contacts__icon--wide {
        width: 16px;
        height: 12px;
    }
}

.menu-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 439px) {
    .menu-social {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (min-width: 768px) {
    .menu-social {
        display: none;
    }
}

.menu-social__item {
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__item:first-child {
    padding-left: 0;
}

.menu-social__item:last-child {
    padding-right: 0;
    border: none;
}

@media screen and (max-width: 439px) {
    .menu-social__item {
        padding: 0;
        border: none;
    }
}

.menu-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
}