.hero {
    background-color: var(--hero-bgc);
    padding: 118px 0;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-mobile2x.jpg);
    }

    @media screen and (min-width:320px) {
        padding: 118px 0;
    }

    @media screen and (min-width:480px) {
        // width: 480px;
        padding: 118px 0;
        // margin: 0 auto;
    }

    @media screen and (min-width:768px) {
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-tablet.jpg);

        // width: 768px;
        padding: 118px 0;
    }

    @media screen and (min-width:1200px) {
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        max-width: 1600px;
        padding: 200px 0;

    }

    .hero__container {
        // width: auto;
        text-align: center;

    }


    .hero__title {
        max-width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--hero-title-color);
        margin: 0 auto;
        margin-bottom: 30px;

        // @media screen and (min-width:768px) {
        //     max-width: 360px;
        // }

        @media screen and (min-width:1200px) {
            max-width: 696px;
            font-weight: 900;
            text-align: center;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
    }



    // }



    .hero__btn {
        cursor: pointer;
        text-align: center;
        color: var(--btn-text-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;


    }
}